@import "./color_schemes/dark";



$body-background-color: #fdfdfd;
$body-heading-color: #3b2115;
$body-text-color: #3b2115;
$link-color: #8a2e2e;
$nav-child-link-color: #3b2115;
$sidebar-color: #f5eee3;
$base-button-color: #e7cab4;
$btn-primary-color: #8a2e2e;
$code-background-color: #f5eee3;
$feedback-color: darken(#f5eee3, 3%);
$table-background-color: #fdfdfd;
$search-background-color: #fdfdfd;
$search-result-preview-color: #e7cab4;